.chart-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  align-items: center;
}

.pie-chart {
    width: 80%;
    max-width: 600px;
}

.expense-summary {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .expense-item {
    flex: 1 1 calc(33% - 10px);
    text-align: center;
  }
  