<h3 class="mt-4">Monthly Totals by Expense Type</h3>

<div class="chart-container">
    <div class="monthly-totals">
        <label for="month">Select Month: </label>
        <input type="month" id="month" (change)="onMonthChange($event)" [value]="year + '-' + (month + 1).toString().padStart(2, '0')">

        <div class="mt-3" *ngFor="let type of expenseTypes">
            <p>{{ type }}: {{ monthlyTotals[type] || 0 | currency }}</p>
        </div>
    </div>

    <div class="pie-chart" *ngIf="!noExpenses">
        <canvas 
        baseChart 
        [datasets]="chartData.datasets" 
        [labels]="chartData.labels" 
        [options]="chartOptions" 
        [type]="'doughnut'">
        </canvas>
    </div>
    <div *ngIf="noExpenses">
    No expenses for this month.
    </div>

</div>